<i class="churn-messaging-card"></i>
<h1>Hey!</h1>
<p>We haven't been able to process your past-due balance, and your account is currently delinquent. Please update your payment information right away to avoid interruption to your service.</p>