<i class="churn-messaging-card"></i>
<h1>Hey!</h1>
<p>We've had some trouble with your most recent payment. We'll keep trying. If you need to update your payment information, click the green button.</p>